body {
    height: 97vh;

}

header {
    height: 5%;
    background: #E5E5E5;

}

.logo {
    height: 85%;
    margin: 0.5rem 0 0 0;
}

.flex-main {
    display: flex;
    flex-direction: row;
    height: 90%;
    background: #E5E5E5;
}

.flex-container-output {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #EEEEEE;
    width: 30%;
    padding: 1rem;
    align-items: center;
    border-radius: 12px;
}

.image-output {
    margin-bottom: 1em;
    width: 80%;
    display: block;

}

.message-not-found {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #343A40;
    padding: 0.5rem;
}

.type-text-encode {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
    padding: 0.5rem;
}

.flex-container-input {
    display: flex;
    flex-direction: column;
    /* background: #6d6c6c; */
    width: 70%;
    align-items: center;
}

.warning-message {
    display: flex;
    color: #495057;
    font-size: 14px;
    width: 90%;
    align-items: center;
    padding: 0.5rem;
}

.warning-message p {
    font-family: 'Inter';
    margin: 2.5px 0 0 0.5rem;

}

.encode-input {
    width: 90%;
    height: 100%;
    margin: 1rem 2rem 0 2rem;
    resize: none;
    border: 1px solid #88a9d1;
    border-radius: 12px;
    outline-color: #88a9d1;
    padding: 1rem 0 0 1rem;
    color: #9065e1;
    font-family: 'Chivo Mono', monospace;


}

.encode-input::placeholder {
    font-family: 'Inter';
    color: #5c7da7;
    font-size: 16px;
}

.encode-output {
    display: none;
    width: 90%;
    height: 90%;
    margin: 0 0.5rem 0 0.5rem;
    border: 1px solid #558fd6;
    outline-color: #558fd6;
    border-radius: 12px;
    padding: 1rem 0 0 1rem;
    color: #5172df;
    font-family: 'Chivo Mono', monospace;
}

.copy-div {

    justify-content: center;
    gap: 8px;
    height: 25%;
    align-items: center;
}


.copy-button {
    display: none;
    font-family: 'Inter';
    width: 300px;
    height: 50px;
    background: #d0cddd;
    border-radius: 24px;
    border: 1px solid #200a71;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #200a71;
    font-weight: 400;
    cursor: pointer;
    margin-top: 2.5rem;
}

.copied-message {
    position: absolute;
    top: 473px;
    margin-left: 4px;
    border-radius: 7px;
    border: 1px solid #7e63e3;
    padding: 0.5rem;
    background-color: #dac9fd;
}

.copied-message p {
    font-family: 'Inter';
    color: #463f54;
    font-size: 13px;


}

.image-text-not-found {
    position: absolute;
    top: 15%;
}

.flex-buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    height: 25%;
    align-items: center;
}

.button-encode {
    font-family: 'Inter';
    width: 300px;
    height: 50px;
    background: #0A3871;
    border-radius: 24px;
    border: 1px solid #0A3871;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    cursor: pointer;
}

.button-decode {
    font-family: 'Inter';
    width: 300px;
    height: 50px;
    background: #D8DFE8;
    border-radius: 24px;
    border: 1px solid #0A3871;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    font-weight: 400;
    cursor: pointer;
}

footer {
    height: 5%;
    text-align: center;
    padding: 0.56rem;
    background: #E5E5E5;

}

footer p {
    color: #2d4358;
    font-weight: bold;
}

@media screen and (max-width:768px) {
    .image-output {
        display: none;
        visibility: hidden;
        width: 0%;
        height: 0%;
        margin: 0%;
    }

    body {
        height: 100vh;
    }

    header {
        height: 5%;
    }

    .flex-main {
        height: 90%;
        flex-direction: column;
    }

    .flex-container-input {
        width: 100%;
        height: 60%;
    }

    .button-encode {
        width: 260px;
        height: 40px;
        font-size: 15px;

    }

    .button-decode {
        width: 260px;
        height: 40px;
        font-size: 15px;

    }

    .flex-container-output {
        width: 95%;
        height: 30%;
        padding-top: 17px;

    }

    .encode-output {
        width: 92%;
        height: 90%;
        padding: 0.5rem;
    }

    .copy-button {
        width: 674px;
        height: 40px;
    }

    .message-not-found {
        margin-top: 25px;
    }

    .copied-message {
        top: 122px;
        right: 76px;

    }

    footer {

        padding-top: 5px;
        padding: 0%;
        height: 5%;
        margin: 0%;
        font-size: 12px;
    }
}

@media screen and (max-width:320px) {
    body {
        height: 100vh;
        width: 124%;
    }

    header {
        width: 100%;
    }

    .flex-main {
        height: 115%;
        width: 100%;
    }


    .flex-container-input {
        width: 96%;
        height: 60%;
    }

    .encode-input {
        margin: 1rem 1.5rem 0 2.5rem;

    }

    .flex-buttons {
        width: 340px;
        padding-left: 22px;
    }

    .message-not-found {
        margin-top: 48px;
    }

    .copy-button {
        width: 342px;
    }

    .copied-message {
        top: 169px;
        right: 31px;
        width: 176px;
    }

    footer {
        width: 100%;
    }

}

@media screen and (max-width:375px) {
    body {
        height: 85vh;
        width: 105%;
    }

    header {
        height: 4%;
        width: 100%;

    }

    .flex-main {
        height: 115%;
        width: 100%;
    }


    .flex-container-input {
        width: 96%;
        height: 60%;
    }

    .flex-container-output {
        padding: 10px;
    }

    .encode-input {
        margin: 1rem 1.5rem 0 2.5rem;

    }

    .flex-buttons {
        width: 91%;
        padding-left: 22px;
    }

    .message-not-found {
        margin-top: 48px;
    }

    .copy-button {
        width: 326px;
    }

    .copied-message {
        top: 129px;
        right: 76px;
        width: 176px;
    }

    footer {
        height: 4%;
        width: 100%;
    }

}